################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/PathfindingDemo/v14
/PathfindingDemo/bin/DesktopGL/x86
/PathfindingDemo/Content
/PathfindingDemo/obj/x86
